{% extends "appbuilder/LoginBase.html" %}

{% block navbar %}
    <img src="/static/assets/images/superset-logo-horiz.png" width="100" style="margin-top: 10px">
{% endblock %}
{## TODO ：响应布局#}
{% block content %}
    <style>
        {#    #TODO : CSS 样式文件抽取没做 #}
        {#body {background-image:url("/static/assets/images/bj.jpg");#}
        {#}#}
        .section-3{
            margin-bottom: 5px;
        }
        .my-icon{
            color: black;
        }
        .my-title{
            font-style: oblique;
            font-weight: bold;
            margin-bottom: 2%;
            margin-top: 5%;
        }
        .my-header{
            background-image: url("/static/appbuilder/img/u15.png");
            width: 100%;
            height: 50vh;
            background-size:cover
        }
    </style>
    <!-- Save for Web Slices (登录源文件.psd) -->
    <div class="my-header row flex-row-reverse" >
        <div class="col-2"></div>
        <div class="col-2 align-self-center " style="height: 80%">
            <div class="card " style="height: 100%;">
                <form  action="" method="post" name="login" >
                    {{form.hidden_tag()}}
                    <div class="card-title text-center fs-2 fw-bold pt-5">
                        全拓数据
                    </div>
                    <div class="card-body {% if form.errors.openid is defined %} error{% endif %} ">
                        <div
                                class="row g-3 align-items-center justify-content-center"
                        >
                            <input  id="username" name="username"  class="form-control col-auto" style="width: 80%"  placeholder="用户名" />
                            {% for error in form.errors.get('openid', []) %}
                                <span class="help-inline">[{{error}}]</span><br>
                            {% endfor %}
                            <input  style="width: 80%" id="password" name="password" type="password" required placeholder="密码"/>
                            {% for error in form.errors.get('openid', []) %}
                                <span class="help-inline">[{{error}}]</span><br>
                            {% endfor %}
                        </div>
                    </div>
                    <div >
                        <div class="d-flex flex-row-reverse " style="width: 80%" >
                            <a href="">忘记密码</a>
                        </div>
                        <div class="d-flex justify-content-center p-1" >
                            <!--<input class="btn btn-primary btn-block" type="submit" value="{{_('Sign In')}}">-->
                            <button class="btn btn-success" type="submit" style="width: 80%" >登录</button>
                            {% if appbuilder.sm.auth_user_registration %}
                                <a href="{{appbuilder.sm.get_url_for_registeruser}}" class="btn btn-block btn-primary" data-toggle="tooltip" rel="tooltip"
                                   title="{{_('If you are not already a user, please register')}}">
                                    {{_('Register')}}
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <h2 class="d-flex justify-content-center  text-dark my-title " >产品架构</h2>
    <div class="d-flex justify-content-center">
        <img src="https://d1icd6shlvmxi6.cloudfront.net/gsc/KBZ5IY/60/2b/94/602b94210abc4e3fb0469f40797ae312/images/%E7%99%BB%E5%BD%95%E7%95%8C%E9%9D%A2/u30.png?token=9ea997125d56869eedbe2f3d9b702ac46aa23f621de2b1417698a010d06e973c"
             class="img-fluid"
        >
        {#    #TODO : 代码有点冗余，待完善;图标没换 #}
    </div>
    <h2 class="d-flex justify-content-center   text-dark my-title" >产品功能</h2>
    <div class="d-flex justify-content-evenly row ">
        <div class="m-3 col">
            <div><i class="fa fa-3x fa-pencil fa-light my-icon" ></i></div>
            <span class="icon-bar mt-3">数字决策</span>
            <div class="mt-3 ">
                科学融合各类算法模型，深层次挖掘数据价值，洞悉业务指标规律，让决策更加科学化、智能化
            </div>
        </div>
        <div class="m-3 col">
            <div><i class="fa fa-3x fa-desktop fa-lightbulb-o my-icon" ></i></div>
            <span class="icon-bar mt-3">多种终端展示</span>
            <div class="mt-3 ">
                科学融合各类算法模型，深层次挖掘数据价值，洞悉业务指标规律，让决策更加科学化、智能化
            </div>
        </div>
        <div class="m-3 col">
            <div><i class="fa fa-3x fa-heart  my-icon" s></i></div>
            <span class="icon-bar ">可视化分析</span>
            <div class="mt-3 ">
                构建无需编程的数据分析体系，结合科学算法分析、预测数据趋势，让运营决策更可靠
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-evenly row">
        <div class="m-3 col">
            <div><i class="fa fa-3x fa-pencil fa-light my-icon" ></i></div>
            <span class="icon-bar mt-3">多种查询模式</span>
            <div class="mt-3  ">
                可视化查询拖拽模式，SQL查询coding模式，用户可按习惯自有进行数据查询.赋能产业业务
            </div>
        </div>
        <div class="m-3 col" >
            <div><i class="fa fa-3x fa-desktop fa-lightbulb-o my-icon" ></i></div>
            <span class="icon-bar mt-3">无缝对接数据</span>
            <div class="mt-3 ">
                数据对接灵活配置，支持多种数据库、文本文件等数据源类型，扩充数据边界，增强数据视野
            </div>
        </div>
        <div class="m-3 col">
            <div><i class="fa fa-3x fa-heart my-icon " ></i></div>
            <span class="icon-bar ">高效数据整合</span>
            <div class="mt-3 ">
                可视化建模，高效能完成数据连接、提取、加工等数据整合工作，并提供多样化的数据运维策略
            </div>
        </div>
    </div>
    <div style="width:100%">
        <h2 class="title d-flex justify-content-around text-dark my-title " >产品优势</h2>
        <div class="d-flex justify-content-around row" style="margin-bottom: 50px" >
            <div class="col-4 " >
                <div class="row d-flex justify-content-between">
                    <i class="fa fa-server fa-5x col-2 my-icon" ></i>
                    <div class="col-8">
                        <div class="section-3" >
                            高效存储 秒级查询
                        </div>
                        <br>
                        <div>
                            自研的大数据存储引擎，完美解决大数据量多维存储分析的难题，做到真正的即时查询
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <i class="fa fa-heart fa-5x col-2 my-icon" ></i>
                    <div  class="col-8">
                        <div class="section-3">场景化分析</div><br>
                        基于场景化的业务分析，深入业务数据底层决策，提供智能解决方案，让您的数据发挥最大效用
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-around row" style="margin-top: 50px">
            <div class="col-4 " >
                <div class="row d-flex justify-content-between">
                    <i class="fa fa-safari fa-5x col-2 my-icon " ></i>
                    <div class="col-8">
                        <div class="section-3" >
                            端到端解决方案
                        </div>
                        <br>
                        <div>
                            全自助体系完成多应用端可视化效果建设，多触点连接并支撑业务建设
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <i class="fa fa-heart fa-5x col-2 fa-line-chart my-icon" ></i>
                    <div  class="col-8">
                        <div class="section-3">简单易用</div><br>
                        上手零门槛，IT零基础，高效自助式数据分析
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
